{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{title}} | {{block.super}} {% endblock title %}
{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% endblock head_extra %}
{% block content %}
<br><br><br>
<center><h1 class="heading-menu">{{title}} List</h1>
</center><br>
<div class="container">
		
	<div>
		{% if post %}
		<table class="table">
			
			<tr>
				<th>Posts</th>
			</tr>
			{% for p in post %}
			<tr>
				
				<td>{{ p.post_type }}</td>
				{% if user.is_authenticated %}
		        <td>
		        	<a href="{% url 'staff:post_update' id=p.id %}"><small>Edit</small></a>
		        	<a href="{% url 'staff:post_delete' id=p.id %}"><small>Delete</small></a>
		        </td>
		        {% endif %}
			</tr>
			{% endfor %}
		</table>
			
		{% else %}
		No staff added
		{% endif %}
		<hr>

	</div>
</div>


{% endblock content %}